01[[:space:]]-[[:space:]]Primary[[:space:]]Objectives/05[[:space:]]-[[:space:]]Network[[:space:]]Log[[:space:]]Analysis:[[:space:]]Determine[[:space:]]Compromised[[:space:]]System/elfu-zeeklogs.zip filter=lfs diff=lfs merge=lfs -text
